/*global*/
@import url( 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
html{
    font-size: 62.5%; /*1 rem = 10px* How you reset the HTML font size*/
}
img{
    max-width: 100%;
    width: 100%;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    ;
}
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;

}

/*utilities*/


/*menu*/
nav.menu{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 35Spx;
    align-items: center;
    padding: 5px 10px 0 20px;

}
nav.menu img.logo{
    height: 50px;
    display: none;
}
nav.menu img.logo2{
    height: 30;
    display: flex;
    width: auto;
    min-width: 22px;
}
nav.menu a{
    margin-right: 30px;
}

a.login-link{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    color: black;
}
a.subs-link{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 16px;
    letter-spacing: 3px;
}
a.arrows-link{
    color: black;

}
a.search-link,a.renew-link,a.menu-link{
    display: none;
}
@media (min-width: 768px) {
    a.search-link
    a.menu-link
    a.renew-link
    a.menu-link{
        display: block;
    }
    nav.menu img.logo2{
        display: none;
    }
}

/*header*/
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
    font-size: 18px;
    font-weight: bolder;
}
.header-title{
    text-transform: uppercase;
    line-height: 1.2;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 40px;   
}
header p span a{
    text-decoration: underline gold;
    color: white;  
    font-size: 20px; 
}
header p span a:hover{
    color: gold;
}
.break{
    padding-top: 10px;
    color: gold;
}

/*main-news*/
.main-news{
    position: relative;/*parent*/
    width: 95%;
    margin: 1rem auto;
}
.main-news-text{
    color: white;
    position: absolute;/*child*/
    top: 249px;
    left: 30px;
    bottom:30px
    text-transform: uppercase;
}
.main-news-text p.all-news-title{
    font-size:3.7rem;
    text-transform: none;
    margin: 1rem 0;
    text-size-adjust: 100%;
    font-weight: bold;
}
.main-news-text h3{
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 12px;
    padding-bottom: 5px;
}
.main-news-text h3 span{
    font-weight: normal;
    padding-left: 10px;
}
.main-news-text h3:hover{
    color: grey;
    text-decoration: underline;
    cursor: pointer;
}
.main-news-img{
    transition: 0.5s ease;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 30px;
}
.main-news-img img:hover{
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.8);
    transition: 0.5s ease;
}
.sea-monster{
        transition: 0.5s ease-in-out;
        padding-top: 20px;
        padding-bottom: 20px;
}
.sea-monster img:hover{
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}
/*sea monster news*/
  .sea-monster{
      width: 95%;
      margin: 1rem auto;
  }
  .sea-monster:hover{
    border: 3px;  
    color: gold;
  }
.sea-monster-img img{
    overflow: hidden;/* if the image is bigger than 20rems please hide the extra space*/
    height: 32rem;
}
.sea-monster-text{
   display: block;
    background-color: white;
    height: 12rem;
    padding: 1.2rem;
    color: black;
}
.sea-monster-text h3{
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 1rem 0;
    font-weight: bold;
}
.sea-momster-text p{
    font-size: 1,8rem;
    font-weight:700;
    word-spacing: 0.5rem;
    letter-spacing: 3px;
    color: black;
}
.sea-monster-text h3 span{
    color: lightgrey;
}
 .title-p{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    color: black;
}

  /*utilities*/
  .read-btn{
      color: black;
      text-transform: uppercase;
      font-size: 1.2rem;
      initial-letter: 0.3rem;
      font-weight: 700;
      letter-spacing: 4px;
      top: 50px;
  }
  .read-btn2{
    color: white;
      text-transform: uppercase;
      font-size: 1.2rem;
      initial-letter: 0.3rem;
      font-weight: 700;
      letter-spacing: 4px;
      top: 50px;  
  }
  /*todays picks*/
  .todays-picks-header{
      text-transform: uppercase;
      font-weight: 900;
      font-size: 3.3rem;
      display: block;
      letter-spacing: 3px;
      font-weight: bolder;
      line-height: 40px;
      margin-bottom: 30px;
  }
  .todays-picks-header span{
      color: gold;
      padding-right: 25px;
  }
  .todays-picks > div{
      display: flex;
      flex-direction: row;
  }
  .todays-picks{
        justify-content:space-between;
        align-items:left;
        height: 10px;
        flex-wrap: wrap;
        padding-left: 20px;
  }
  .todays-picks-1{
    background-color: black;
    color: white;
    padding: 10px;
    flex-basis: 10px;
    height: auto;
    width: 120px;
}
.todays-picks-2{
    background-color: black;
    color: white;
    padding: 10px;
    line-height: 1.5;
}
.todays-picks-2 h4:hover{
    text-decoration: underline;
    color: white;
}
.todays-picks-2 h4 span:hover{
    text-decoration: underline;
    color: white;
}
.todays-picks-2 p:hover{
    text-decoration: underline;
    color: white;
}
.todays-picks-2 h4{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}
.todays-picks-2 p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
}
.crop img {
    object-fit: cover;
    height: 100px;
    object-position: top;
    padding-right: 26px;
}
.todays-picks-2 h4 span{
    font-weight: normal;
    color: darkgray;
}
.paid-content{
    color: black; 
    font-size: 12px !important;  
}
mark{
    background-color: lightgray;
    padding: 2 5 2 5;
}
.see-more{
    color: white;
    font-size: 12px;
    letter-spacing: 3px;
    margin: auto;
    margin-bottom: 20px;
    text-decoration: 3px gold underline;
    text-underline-offset: 3px;
}
.see-more:hover{
    background-color: gold;
    color: black;
}