/*global*/
@import url( 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
html{
    font-size: 62.5%; /*1 rem = 10px* How you reset the HTML font size*/
}
img{
    max-width: 100%;
    width: 100%;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    ;
}
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;

}

/*utilities*/


/*menu*/
nav.menu{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 35Spx;
    padding: 5px 10px 0 20px;

}
nav.menu img.logo{
    height: 50px;
    display: none;
}
nav.menu img.logo2{
    height: 30;
    display: block;
}
nav.menu a{
    margin-right: 30px;
}

a.login-link{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    color: black;
}
a.subs-link{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 16px;
    letter-spacing: 3px;
}
a.arrows-link{
    color: black;

}
a.search-link,a.renew-link,a.menu-link{
    display: none;
}

/*header*/
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;

}
.header-title{
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 3px;
}
header p span a{
    text-decoration: underline gold;
    color: white;  
    
}
header p span a:hover{
    color: gold;
}

/*main*/
.main-news-img{
    transition: 0.5s ease;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-news-img img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 0.5s ease;
}
.sea-monster{
        transition: 0.5s ease-in-out;
        padding-top: 20px;
        padding-bottom: 20px;
}
.sea-monster img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}

  .main-news{
        position: relative;
        width: 95%;
        margin: 1rem auto;
  }
  .main-news-text{
        color: white;
        position: absolute;
        top: 200px;
        left: 30px;
  }
  .main-news-text p{
      font-size:2.6rem
  }
  