/*global*/
#body{
    background-color: black;
    text-decoration: white;
    color:white
}

/*nav*/
.menu{
    background-color: white;
    text-decoration: black;
}
.menu-links{

}
#logo{
    
}
#logo2{

}

/*header*/

/*main*/
.main-news{

}
.main-news-img{

}
.main-news-text{

}
.secondary-news-ancient-1{

}
.secondary-news-ancient-2{

}
